/* --------------- KEVIN --------------- */
:root {
	--mainGreen: #9bbf5f;
	--mainWhite: #fff;
	--primary_Black: #000;
	--primary_Gray: #565353;
}

* {
	font-family: 'Oswald', sans-serif;
}

/* video_section */

.video_section {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.video_section_mp4 {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-35%) translateY(-50%);
}

.video_section_cover {
	background-color: var(--primary_Black);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	z-index: 1;
}

.video_section_h1 {
	font-size: 110px;
	text-shadow: var(--primary_Gray) 1px 1px 10px;
}

.video_section_p {
	font-size: 50px;
}

.video_section_button {
	font-size: 30px;
	text-transform: uppercase;
}

/* --------------- DAVID --------------- */
.CopyFooter {
	color: white;
	text-align: center;
}

.Footer {
	background-color: #333333;
	color: white;
}

.FooterCopy {
	background-color: #212121;
}

.FooterPalabras {
	color: #73a34b;
}

.Footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.Footer1 {
	width: 25%;
	text-align: center;
}

/* --------------- NAOMY --------------- */
.div_Container {
	position: relative;
}

.main_textDiv {
	position: absolute;
	top: 45%;
	/* left: 0; */
	width: 100%;
}

/* --------------- MEDIA --------------- */

@media screen and (max-width: 767px) {

	/* --------------- KEVIN --------------- */
	.video_section_h1 {
		font-size: 70px;
	}

	.video_section_p {
		font-size: 35px;
	}

	/* --------------- DAVID --------------- */
	.navbar .nav-link.active {
		background-color: #a3e9a4;
		border-radius: 5px;
	}
}

/* --------------- PAOLA --------------- */

/* --------------- ANDRES --------------- */