:root {
	--mainGreen: #9bbf5f;
	--mainWhite: #fff;
}

body {
	background-color: var(--mainGreen);
}

/* Kevin */
/* Naomy */
* {
	font-family: 'Oswald', sans-serif;
}
.main_bg {
	height: 100%;
	width: 100%;
}
.div_Container {
	position: relative;
}
.main_textDiv {
	position: absolute;
	top: 45%;
	/* left: 0; */
	width: 100%;
}
.main_textP {
	font-size: 110px;
	color: #fff;
	font-weight: 400;
}
@media screen and (max-width: 767px) {
	.navbar .nav-link.active {
		background-color: #a3e9a4;
		border-radius: 5px;
	}
}
/* Paola */
/* David */
.CopyFooter {
	color: white;
	text-align: center;
}

.Footer {
	background-color: #333333;
	color: white;
}

.FooterCopy {
	background-color: #212121;
}

.FooterPalabras {
	color: #73a34b;
}

.Footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.Footer1 {
	width: 25%;
	text-align: center;
}

/* --------------- MEDIA --------------- */
@media screen and (max-width: 767px) {
	.main_textP {
		font-size: 40px;
	}
}

/* Andres */
