.color-header {
  background-color: #94bb54;
}
.mainwrap rand-83 {
  background: #94bb54;
  background-size: cover;
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff;
  padding: 18px 0 15px 0;
}
.numero-telefono {
  vertical-align: inherit;
}
