/* --------------- KEVIN --------------- */
:root {
	--mainGreen: #9bbf5f;
	--mainWhite: #fff;
	--primary_Black: #000;
	--primary_Gray: #565353;
}

* {
	font-family: 'Oswald', sans-serif;
}

/* video_section */

.video_section {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.video_section_mp4 {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-35%) translateY(-50%);
}

.video_section_cover {
	background-color: var(--primary_Black);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.3;
	z-index: 1;
}

.video_section_h1 {
	font-size: 110px;
	text-shadow: var(--primary_Gray) 1px 1px 10px;
}

.video_section_p {
	font-size: 50px;
}

.video_section_button {
	font-size: 30px;
	text-transform: uppercase;
}

.video_section_button:hover {
	background-color: var(--mainGreen);
	color: var(--mainWhite);
}

/* --------------- MEDIA --------------- */
@media screen and (max-width: 767px) {
	.video_section_h1 {
		font-size: 50px;
	}

	.video_section_p {
		font-size: 40px;
	}

	.video_section_button {
		font-size: 25px;
	}
}

/* David */

.Footer1 {
	padding: 25px 0px;
	background-color: #423f40;
	color: white;
}

.Footer2 {
	padding-top: 15px;
	background-color: #212121;
	color: white;
}

.FooterPalabras {
	color: #73a34b;
}

.copyR {
	font-size: 14px;
}

.LinkMas {
	text-decoration: none;
	color: white;
}

.LinkMas:hover {
	color: #73a34b;
}

.tag {
	padding: 0px 15px;

	background-color: #212121;
	text-decoration: none;
	color: white;
}

.tag:hover {
	background-color: #73a34b;

	color: white;
}

.tag1 {
	padding-top: 8px;
}

@media screen and (max-width: 990px) {
	.copyR {
		font-size: 12px;
	}

	.TituloFooter {
		padding-top: 20px;
	}
}

@media screen and (max-width: 540px) {
	.copyR {
		font-size: 8px;
	}
}

/* Naomy */

.navbar {
	background-color: #333333;
}

.div_Container {
	position: relative;
}

.main_textDiv {
	position: absolute;
	top: 45%;
	/* left: 0; */
	width: 100%;
}

.resaltado:hover {
	color: #185a18;

	/* Cambia este color al que desees */
}

.resaltado {
	color: #fff;
}

@media screen and (max-width: 767px) {
	.navbar .nav-link.active {
		background-color: #a3e9a4;
		border-radius: 5px;
	}
}

.col-md-auto {
	display: flex;
	justify-content: center;
	/* Centra horizontalmente */
	align-items: center;
	/* Centra verticalmente */
	gap: 10px;
	color: white;
}

/* Paola */
.header2 {
	background-color: #94bb54;
	text-align: center;
}

.tel-correo {
	color: white;
	gap: 10px;
}

.redes {
	color: white;
	gap: 50px;
	justify-content: right;
}

a {
	text-decoration: none;
	color: var(--mainWhite);
	color: white;
}

@media screen and (max-width: 390px) {
	.LogoHeader {
		height: 70px;
	}

	.TituloHeader {
		font-size: 16px;
	}
}

.iconohamburguesa {
	background-color: white;
}

/* Andres */
@media (max-width: 576px) {
	.carousel-item img {
		height: 250px;
		width: 100%;
	}
}

@media (min-width: 576px) and (max-width: 1024px) {
	.carousel-item img {
		height: 350px;
	}
}

@media (min-width: 1024px) {
	.carousel-item img {
		max-width: 100%;
		height: 550px;
		max-height: 600px;
	}
}

body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

.contacto {
	text-align: center;
	color: #333;
}

form {
	max-width: 600px;
	padding: 20px;
	margin-left: 30%;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 8px;
	color: #555;
}

input[type='text'],
input[type='email'],
input[type='tel'],
select,
textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
}

input[type='submit'] {
	background-color: #4caf50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

input[type='submit']:hover {
	background-color: #45a049;
}

input[type='submit']:focus {
	outline: none;
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(50px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Aplicar animación a las imágenes */
.animate-slide {
	animation: slideIn 0.8s ease-out;
}