/* Kevin */
:root {
  --mainGreen: #9bbf5f;
  --mainWhite: #fff;
}

* {
  font-family: "Oswald", sans-serif;
}
.main_bg {
  height: 100%;
  width: 100%;
}
.main_textP {
  font-size: 110px;
  color: #fff;
  font-weight: 400;
}

/* --------------- MEDIA --------------- */
@media screen and (max-width: 767px) {
  .main_textP {
    font-size: 40px;
  }
}

/* David */
.CopyFooter {
  color: white;
  text-align: center;
}

.Footer {
  background-color: #333333;
  color: white;
}

.FooterCopy {
  background-color: #212121;
}

.FooterPalabras {
  color: #73a34b;
}

.Footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Footer1 {
  width: 25%;
  text-align: center;
}

/* Naomy */

.div_Container {
  position: relative;
}
.main_textDiv {
  position: absolute;
  top: 45%;
  /* left: 0; */
  width: 100%;
}

@media screen and (max-width: 767px) {
  .navbar .nav-link.active {
    background-color: #a3e9a4;
    border-radius: 5px;
  }
}

.col-md-auto {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 10px;
  color: white;
}

/* section header */
.header2 {
  background-color: #94bb54;
  text-align: center;
}

.tel-correo {
  color: white;
  gap: 10px;
}
.redes {
  color: white;
  gap: 50px;
  justify-content: right;
}
a {
  text-decoration: none;
  color: var(--mainWhite);
  color: white;
}

@media screen and (max-width: 390px) {
  .LogoHeader {
    height: 70px;
  }
  .TituloHeader {
    font-size: 16px;
  }
}
/* Andres */
